:root {
    --dark-lvl-1: #050505;
    --dark-lvl-2: #222222;
    --dark-lvl-3: #383838;
    --dark-text: #cfcfcf;
    --dark-text-highlight: #f7f7f7;
    --dark-blue: #64a2ff;
    --dark-gold: #9A7D31;
    --dark-gold-hover: #c6a34b;

    --light-lvl-1: #f7f7f7;
    --light-lvl-2: #dbdbdb;
    --light-lvl-3: #a8a8a8;
    --light-text: #484848;
    --light-text-highlight: #050505;
    --light-blue: #64a2ff;
    --light-gold: #9A7D31;
    --light-gold-hover: #c6a34b;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--dark-lvl-1);
    color: var(--dark-text);
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    display: flex;
    flex-flow: row;
}

.body_light_mode {
    background-color: var(--light-lvl-1);
    color: var(--light-text-highlight);
}

#intro {
    position: fixed;
    width: 80%;
    left: 20%;
    height: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro_content {
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    text-align: center;
    overflow: visible;
}

#left_bar {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 20%;
    background-color: var(--dark-lvl-2);
    overflow-y: scroll;
    border-right: 1px solid var(--dark-gold);
}

.left_bar_light_mode {
    background-color: var(--light-lvl-2) !important;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 20px 30px;
}

#header>img {
    height: 50px;
    width: 50px;
}

#title {
    font-size: 2rem;
    color: var(--dark-gold);
}

#nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.nav_button {
    height: auto;
    line-height: auto;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--dark-gold);
    color: var(--dark-txt);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_button_light_mode {
    background-color: var(--light-lvl-1);
}

.nav_button:hover {
    background-color: var(--dark-gold-hover);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
}

.no_copy_text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#exam_bar {
    width: 89%;
    margin: 20px;
}

#separation {
    background-color: rgb(37, 37, 37);
    width: 1px;
}

.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

input {
    font-size: 1rem;
}

.exam_cards_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-content: start;
    gap: .25rem;
    width: 100%;
}

.exam_cards {
    display: flex;
    flex-direction: column;
}

.main_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-gold);
    padding: .5rem;
    height: 30px;
}

.main_card:hover {
    background-color: var(--dark-gold-hover);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
    cursor: pointer;
}

.main_card_light_mode {
    background-color: var(--light-lvl-1) !important;
}

.main_card_light_mode:hover {
    background-color: var(--light-gold-hover) !important;
}

.main_card_label {
    font-size: 1.2rem;
}

.drop_down_arrows {
    width: 10%;
}

.fa-arrow-down {
    transform: rotate(0deg);
    transition: transform .2s ease;
}

.fa-arrow-down.open {
    transform: rotate(180deg);
    transition: transform .2s ease;
}

.view_cards_container {
    background-color: rgb(106, 106, 106);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 1px;
    padding: 1px;
    width: 7%;
    transform: translate(1px, 46px);
    z-index: 1;
}

.view_cards_container_light_mode {
    background-color: var(--light-gold);
}

.view_card {
    background-color: var(--dark-lvl-3);
    cursor: pointer;
}

.view_card_light_mode {
    background-color: var(--light-lvl-1);
}

.view_card:hover {
    background-color: var(--dark-lvl-4);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
}

.view_card_label {
    text-align: left;
    margin: 3px 10px 3px;
}

.hide {
    display: none;
}

#page_content {
    margin: 3% 5%;
    gap: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: inherit;
    z-index: 1;
}

.page_content_light_mode {
    background-color: var(--light-lvl-1) !important;
    color: var(--light-text) !important;
}

#page_exam_name {
    margin-bottom: 25px;
}

#column_one,
#column_two {
    width: 45%;
    padding: 50px;
    overflow-y: scroll;
}

#page_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 350px;
    margin-bottom: 25px;
    object-fit: cover;
    border: 1px solid var(--dark-gold);
}

h1 {
    font-size: 3em;
    margin: 0px;
    color: var(--dark-gold);
    cursor: default;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: -10px;
    color: var(--dark-gold);
    cursor: default;
}

h1:hover,
h2:hover {
    color: var(--dark-gold-hover);
}

ul {
    list-style-position: inside;
}

.content_key {
    color: var(--dark-text-highlight);
}

.content_key_light_mode {
    color: var(--light-text-highlight) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*,
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    left: 20%;
    bottom: 0;
}

#footer>a {
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#footer>a>img {
    height: 15px;
}