html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    display: flex;
    flex-flow: row;
}

.body_light_mode {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(22, 22, 22);
}

#intro {
    position: fixed;
    width: 80%;
    left: 20%;
    height: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro_content {
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    text-align: center;
    overflow: visible;
}

#left_bar {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 20%;
    background-color: rgb(37, 37, 37);
    overflow-y: scroll;
}

.left_bar_light_mode {
    background-color: #cecece !important;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 20px 30px;
}

#header>img {
    height: 50px;
    width: 50px;
}

#title {
    font-size: 2rem;
}

#nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.nav_button {
    height: 10px;
    line-height: 10px;
    padding: 1rem;
    font-size: 1rem;
}

.nav_button:hover {
    background-color: rgb(39, 39, 39);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
}

#exam_bar {
    width: 89%;
    margin: 20px;
}

#separation {
    background-color: rgb(37, 37, 37);
    width: 1px;
}

.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

input {
    font-size: 1rem;
}

.exam_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-content: start;
    gap: .25rem;
    margin-top: 1rem;
    width: 100%;
}

.main_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    padding: .5rem;
    min-height: 30px;
}

.main_card_light_mode {
    background-color: rgb(233, 233, 233) !important;
    color: rgb(22, 22, 22) !important;
}

.main_card:hover {
    background-color: rgb(39, 39, 39);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
}

.main_card_name {
    font-size: 1.2rem;
}

.main_card_views {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: .5rem;
    width: 50%;
    height: 100%;
}

.nav_button,
.view_card {
    background-color: rgb(26, 26, 26);
    color: #b8b8b8;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_card_light_mode {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(68, 68, 68) !important;
}

.view_card {
    width: 45px;
    height: 25px;
}

.view_card:hover {
    background-color: rgb(44, 44, 44);
    box-shadow: 0px 0px 10px 2px rgb(79, 79, 79);
}

.view_card_label {
    font-size: .8rem;
    text-align: center;
    margin: auto;
}

.hide {
    display: none;
}

#page_content {
    margin: 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    z-index: 1;
}

.page_content_light_mode {
    background-color: #f1f1f1 !important;
    color: rgb(68, 68, 68) !important;
}

#page_exam_name {
    margin-bottom: 25px;
}

#column_one,
#column_two {
    width: 40%;
    padding: 50px;
    overflow-y: scroll;
}

#page_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 350px;
    margin-bottom: 25px;
    object-fit: cover;
}

h1 {
    font-size: 3em;
    margin: 0px;
}

h2 {
    text-decoration: underline;
    font-size: 1.2rem;
    margin-bottom: -10px;
}

ul {
    list-style-position: inside;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*,
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    left: 20%;
    bottom: 0;
}

#footer>a {
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#footer>a>img {
    height: 15px;
}